%p 支持 <a href="http://assemble.io/docs/Cheatsheet-Markdown.html" target="_blank" rel="nofollow">Markdown</a> 格式, <strong>**粗体**</strong>、~~删除线~~、<code>`单行代码`</code>
%p 支持表情，见 <a href="http://www.emoji-cheat-sheet.com" target="_blank" rel="nofollow">Emoji cheat sheet</a>，输入<code>:</code>就会有提示哦～


