= render 'shared/breadcrumb', links: [["Home", "/"], ["社区", ""]]

%section#topics
  %section#topics_info.box.box-gray.info-box
    %span 查看： 默认
  = render partial: "shared/topics_list", locals: { topics: @topics }


= render partial: "shared/sidebar"

